.App {
  text-align: center;
}
.BackgroundImage, .XrayBackground{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./pneumonia-background-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif
  /*font-family: Lato;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /*background-color: #323232;*/
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.XrayBackground{
  display: grid;
  justify-content: center;
  /*background-color: black*/
}

.NavBarDefault {
  color:white;
}

.AlertPosition {
  position: absolute;
  top: 45%;
  left: 40%
}
.test{
  height: 35px;
}